/*
Theme Name:  station.gallery
Template:    renkon
Version:     1.0.5
License:     GPL-2.0-or-later
License URI: https://spdx.org/licenses/GPL-2.0-or-later.html
*/

/* playfair-display-regular - latin */
@font-face {
	font-display: swap;
	font-family: 'Playfair Display';
	font-style: normal;
	font-weight: 400;
	src: local('Playfair Display Regular'), local('PlayfairDisplay-Regular'),
		url('fonts/playfair-display-v13-latin-regular.woff2') format('woff2'),
		url('fonts/playfair-display-v13-latin-regular.woff') format('woff');
}

/* playfair-display-italic - latin */
@font-face {
	font-display: swap;
	font-family: 'Playfair Display';
	font-style: italic;
	font-weight: 400;
	src: local('Playfair Display Italic'), local('PlayfairDisplay-Italic'),
		url('fonts/playfair-display-v13-latin-italic.woff2') format('woff2'),
		url('fonts/playfair-display-v13-latin-italic.woff') format('woff');
}

/* playfair-display-700 - latin */
@font-face {
	font-display: swap;
	font-family: 'Playfair Display';
	font-style: normal;
	font-weight: 700;
	src: local('Playfair Display Bold'), local('PlayfairDisplay-Bold'),
		url('fonts/playfair-display-v13-latin-700.woff2') format('woff2'),
		url('fonts/playfair-display-v13-latin-700.woff') format('woff');
}

/* playfair-display-700italic - latin */
@font-face {
	font-display: swap;
	font-family: 'Playfair Display';
	font-style: italic;
	font-weight: 700;
	src: local('Playfair Display Bold Italic'), local('PlayfairDisplay-BoldItalic'),
		url('fonts/playfair-display-v13-latin-700italic.woff2') format('woff2'),
		url('fonts/playfair-display-v13-latin-700italic.woff') format('woff');
}

/* lato-regular - latin */
@font-face {
	font-display: swap;
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src: local('Lato Regular'), local('Lato-Regular'),
		url('fonts/lato-v14-latin-regular.woff2') format('woff2'),
		url('fonts/lato-v14-latin-regular.woff') format('woff');
}

/* lato-italic - latin */
@font-face {
	font-display: swap;
	font-family: 'Lato';
	font-style: italic;
	font-weight: 400;
	src: local('Lato Italic'), local('Lato-Italic'),
		url('fonts/lato-v14-latin-italic.woff2') format('woff2'),
		url('fonts/lato-v14-latin-italic.woff') format('woff');
}

/* lato-700 - latin */
@font-face {
	font-display: swap;
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	src: local('Lato Bold'), local('Lato-Bold'),
		url('fonts/lato-v14-latin-700.woff2') format('woff2'),
		url('fonts/lato-v14-latin-700.woff') format('woff');
}

/* lato-700italic - latin */
@font-face {
	font-display: swap;
	font-family: 'Lato';
	font-style: italic;
	font-weight: 700;
	src: local('Lato Bold Italic'), local('Lato-BoldItalic'),
		url('fonts/lato-v14-latin-700italic.woff2') format('woff2'),
		url('fonts/lato-v14-latin-700italic.woff') format('woff');
}

address {
	font-style: normal;
}
.column-wrap a {
	color: #555;
}
a:focus,
a:hover {
	text-shadow: 1px 3px 0 #f55;
}
.column-wrap div.secondary a {
	color: #fff;
}
.overlay a:focus,
.blocks-gallery-item a:focus,
.blog .hentry:focus-within {
	-webkit-box-shadow: 5px 5px #f55;
	box-shadow: 5px 5px #f55;
	opacity: 1;
}
.has-lightbox #site-header {
	z-index: 3;
}
.sl-overlay {
	background: #000;
	opacity: 0.8;
}
.sl-wrapper .sl-close, .sl-wrapper .sl-counter,
.sl-wrapper .sl-navigation button {
	color: #fff;
}
.sidebar-button:focus {
	background-color: transparent !important;
	color: #000 !important;
}
ul.sociallinks li a,
ul.sociallinks li a:hover {
	background-color: #1a1a1a !important;
	background-repeat: no-repeat;
}
ul.sociallinks li a:hover {
	border-color: #fff;
}
ul.sociallinks li a:focus {
	-webkit-box-shadow: 5px 5px #f55;
	box-shadow: 5px 5px #f55;
}
ul.sociallinks li a.activitypub {
	background-image: url(activitypub-white.svg);
	background-position: 0 0;
	background-size: 50px 50px;
}
.colophon {
	margin-top: 2em !important;
}
#site-header {
	z-index: 3;
}
.colophon,
.colophon .credit,
.colophon .credit a,
.colophon .footer-nav a {
	color: #555;
}
.active-sidebar #content-wrap,
.active-sidebar .secondary {
	padding-bottom: 0 !important;
	margin-bottom: 0 !important;
}
.secondary:focus-within {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 4;
	width: 80.375%;
	margin-left: 19.625%;
	height: 100%;
	height: 100vh;
}
.wp-block-gallery,
.entry-content ul.wp-block-gallery {
	list-style-type: ""; /* https://matuzo.at/blog/2023/removing-list-styles-without-affecting-semantics */
}
.entry-content ul.wp-block-gallery li {
	margin-left: 0;
}
.js .active-sidebar #site-header,
.js .active-sidebar .off-canvas-nav,
.js .active-sidebar .container,
.active-sidebar .mask-right {
	background-color: #fff;
}
@media screen and (min-width: 1024px) {
	.secondary:focus-within {
		width: 85%;
		margin-left: 15%;
	}
}
@media screen and (min-width: 1040px) {
	.overlay:focus-within {
		opacity: 1;
	}
	.overlay .entry-title {
		color: #fff;
	}
	.overlay .view-post {
		position: absolute;
		height: 100%;
		left: 0;
		top: 0;
		width: 100%;
	}
	.overlay .view-post a {
		background-position: calc(100% - 25px) calc(100% - 15px);
		content: "";
		display: block;
		height: 100%;
		left: 0;
		position: relative;
		top: 0;
		width: 100%;
		z-index: 2;
	}
}
@media screen and (min-width: 1280px) {
	.secondary:focus-within {
		width: 75%;
		margin-left: 25%;
	}
}
@media screen and (min-width: 1400px) {
	.secondary:focus-within {
		width: 70%;
		margin-left: 30%;
	}
}
@media screen and (min-width: 1800px) {
	.secondary:focus-within {
		width: 60%;
		margin-left: 40%;
	}
}
